@import "tailwindcss";

@plugin "daisyui";

@plugin "daisyui/theme" {
    name: "lightnew";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(100% 0 0);
    --color-base-200: oklch(98% 0 0);
    --color-base-300: oklch(95% 0 0);
    --color-base-content: oklch(21% 0.006 285.885);
    --color-primary: oklch(45% 0.24 277.023);
    --color-primary-content: oklch(93% 0.034 272.788);
    --color-secondary: oklch(65% 0.241 354.308);
    --color-secondary-content: oklch(94% 0.028 342.258);
    --color-accent: oklch(0.72 0.176 350.048);
    --color-accent-content: oklch(1 0 none);
    --color-neutral: oklch(14% 0.005 285.823);
    --color-neutral-content: oklch(92% 0.004 286.32);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(37% 0.077 168.94);
    --color-warning: oklch(82% 0.189 84.429);
    --color-warning-content: oklch(41% 0.112 45.904);
    --color-error: oklch(71% 0.194 13.428);
    --color-error-content: oklch(27% 0.105 12.094);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "darknew";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(20.768% 0.039 265.754);
    --color-base-200: oklch(19.314% 0.037 265.754);
    --color-base-300: oklch(17.86% 0.034 265.754);
    --color-base-content: oklch(84.153% 0.007 265.754);
    --color-primary: oklch(75.351% 0.138 232.661);
    --color-primary-content: oklch(15.07% 0.027 232.661);
    --color-secondary: oklch(68.011% 0.158 276.934);
    --color-secondary-content: oklch(13.602% 0.031 276.934);
    --color-accent: oklch(0.72 0.176 350.048);
    --color-accent-content: oklch(14.472% 0.035 350.048);
    --color-neutral: oklch(27.949% 0.036 260.03);
    --color-neutral-content: oklch(85.589% 0.007 260.03);
    --color-info: oklch(68.455% 0.148 237.251);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(78.452% 0.132 181.911);
    --color-success-content: oklch(15.69% 0.026 181.911);
    --color-warning: oklch(83.242% 0.139 82.95);
    --color-warning-content: oklch(16.648% 0.027 82.95);
    --color-error: oklch(71.785% 0.17 13.118);
    --color-error-content: oklch(14.357% 0.034 13.118);
    --radius-selector: 0.5rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 0;
}


@layer components {
    /* theme toggler  */

    .theme-toggle svg {
        @apply size-5;
    }

    .theme-toggle .crkl,
    .theme-toggle .rays {
        transform-origin: center center;
        transition: transform calc(500ms * .65) cubic-bezier(0, 0, 0, 1.25) calc(500ms * .35);
    }

    .theme-toggle svg.active .rays {
        transform: scale(.75);
    }

    .theme-toggle svg.active .crkl {
        transform: scale(1.4);
    }

    .theme-toggle #theme-toggle-clip path {
        transition-property: transform, d;
        transition-duration: calc(500ms * .6);
        transition-timing-function: cubic-bezier(0, 0, .5, 1);
    }

    .theme-toggle svg.active #theme-toggle-clip path {
        d: path("M-9 3h25a1 1 0 0017 13v30H0Z");
        transition-delay: calc(500ms * .4);
        transition-timing-function: cubic-bezier(0, 0, 0, 1.25);
    }
}